.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* 从顶部开始排列 */
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* 给整体页面添加背景色 */
  padding-top: 50px; /* 为了避免时间紧贴顶部 */
}

.time {
  font-size: 48px;
  margin-bottom: 20px;
  font-family: monospace; /* 使用等宽字体 */
  display: flex;
  justify-content: center;
}

.time span {
  display: inline-block;
  width: 32px; /* 固定每个数字的宽度 */
  text-align: center;
}

.calendar {
  border: 1px solid black;
  border-radius: 10px; /* 添加圆角 */
  background-color: #ffffff; /* 给日历整体添加背景色 */
  width: 95%; /* 固定日历宽度 */
  max-width: 800px; /* 最大宽度 */
  margin-top: 20px; /* 与时间保持固定距离 */
  padding-bottom: 20px; /* 底部内边距 */
  flex-grow: 1; /* 占据剩余空间 */
  display: flex;
  flex-direction: column;
}

.weekdays {
  display: flex;
  justify-content: space-around;
  align-items: center; /* 垂直居中 */
  border-bottom: 0.5px solid black;
  padding: 10px 0; /* 统一上下间距 */
  background: linear-gradient(to bottom, #c0dfff, #80bfff); /* 更合适的蓝色渐变 */
  border-radius: 10px 10px 0 0; /* 顶部圆角 */
}

.weekday {
  font-weight: bold;
  padding: 5px 0; /* 增加内边距，使间距一致 */
}

.daysContainer {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  overflow-y: auto; /* 添加垂直滚动条 */
}

.days {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%; /* 确保days容器宽度与日历宽度一致 */
  margin-top: 10px;
}

.day {
  width: calc(100% / 7);
  text-align: center;
  margin-bottom: 10px;
  font-size: 18px; /* 放大日期显示标签 */
  height: 70px; /* 固定高度，增加高度以适应农历日期 */
  line-height: 20px; /* 调整行高以适应两个日期 */
  border-radius: 10px; /* 添加圆角 */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lunar {
  font-size: 12px; /* 农历日期字体大小 */
  color: gray; /* 农历日期颜色 */
}

.today {
  background-color: #ffcc00; /* 新的高亮颜色 */
  border-radius: 10px; /* 添加圆角 */
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #f0f0f0;
  padding: 20px 0; /* 增加上下间距 */
}

.navButton {
  padding: 5px 10px;
  margin: 0 10px;
  border: none;
  background-color: #80bfff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
